/Hyperparameter/
/models/
/plots/
/results/
/runs/
__pycache__
/tests/.pytest_cache/
/other_scripts/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.DS_Store
scenarios_json
/wandb
/test_run_results
/models_old
/wandb_init.py
/test_matrix_multiplication.py
/test_scenario.py
